extends layout

block content
  h1= title
  div(style="max-width: 900px; margin: auto;")
  p Welcome to #{title}
  form(method="post" action="/user/save")
    div(style="padding: 12px;")
      input(type="text" name="name" placeholder="name")
    div(style="padding: 12px;")
      input(type="number" name="age" placeholder="age")
    div(style="padding: 12px; text-align: center;")
      button save
  div(style="margin: 30px 0;")
    table(style="border-collapse: collapse" border=1)
      tbody
        each v in result
          tr
            td= v.id
            td= v.name
            td= v.age
            td= v.createdAt
            td
              a(href=`/user/delete/${v._id}`) delete